.featured {
    background-image: url("../../img/p7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;
    position: relative;
}
.featured-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.featured-stories {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35.3%;
    background-color: rgb(17, 31, 42, 0.9);
}
.blog-article {
    padding-bottom: 105px;
}
.blog-article-category {
    font-weight: 800;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 15px 30px;
    background-color: var(--accent-color);
    border-radius: 100px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.blog-article-title {
   font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--white-color);
    max-width: 40%;
    margin-bottom: 18px;
}
.blog-article-descr {
    font-family: 'SFCompact', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white-color);
    margin-bottom: 40px;
    max-width: 40%;
}
.blog-article-link {
    background-color: #73AFBA;
    display: inline-block;
}